<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Hello Forms</title>
</head>
<body>

 <a href="/login">Login ?</a>
 <!-- {% if user.is_authenticated %} -->
 Hello {{ request.user }} !
 <form method="post">
 	{% csrf_token %}
 	{{ form.as_p }}
 	<button name = "submit">Submit</button>
 </form>
<hr>

 <section>
 	<ul>
 	{% for u in users %}
 	<li>
 		User number {{ u.id }} <br>
 		Name: {{ u.name }}, <br>
 		Email: {{ u.email }}
 	</li>
 	{% endfor %}
 	</ul>
 </section>

 <hr>

{{admin_message}}
 <a href="{% url 'logout' %}">Logout</a>
  <!-- {% endif %} -->
   {% block content%}
  {% endblock %}


</body>
</html>